.chart {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.chart .graph {
    width: 70%;
    height: 600px;
}

.chart a {
    text-align: center;
}

div.container {
    padding-right: 0em;
    padding-left: 0em;
}

div.icon-help {
    content: url("../img/help.svg");
    padding-right: 0.5em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 50%;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}