.chart {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.chart .graph {
    width: 70%;
    height: 600px;
}

.chart a {
    text-align: center;
}

div.container {
    padding-right: 0em;
    padding-left: 0em;
}